.ArtistsToggle {
  $border-size: 0.15em;

  &__toggle {
    position: relative;
    text-align: center;
    @include spacing(sm, margin-top);

    &--is-open {
      &:before {
        opacity: 0;
      }
    }
  }

  &__button {
    position: relative;
    @extend .button;
    background: white;

    &:focus {
      outline: none;
    }
  }
}
