.ArtistsToggle {
  $border-size: 0.15em;

  &__toggle {
    position: relative;
    text-align: center;
    @include spacing(sm, margin-top);

    &--is-open {
      &:before {
        opacity: 0;
      }
    }

    &:before {
      content: '';
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10em;
      transform: translateY(calc(-100% - #{$border-size}));
      background: linear-gradient(to top, white, rgba(white, 0));
    }
  }
  &__button {
    position: relative;
    @extend .button;
    background: white;

    &:focus {
      outline: none;
    }
  }
}
