.Artists {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  @include spacing(sm, margin-top);
  position: relative;

  &__layout {
    display: flex;
    flex-direction: column;
    .Artists {
      @include bp(lg) {
        width: 65%;
      }

      &:nth-of-type(2) {
        align-self: flex-end;
      }
    }
  }

  &__item {
    position: relative;
    margin-bottom: 0;
  }

  &__group {
    &:hover {
      position: relative;
      z-index: 99;
    }
  }

  &__name {
    display: inline-block;
    margin-bottom: 0;
  }

  &__country {
    display: inline-block;
  }

  &__divider {
    display: inline-block;
    padding: 0 rem-calc(10);

    &--hide {
      opacity: 0;
    }
  }

  &__overlay-image {
    position: fixed;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-in 0.3s ease both;

    img {
      width: auto;
      max-width: rem-calc(300);
    }
  }
}
