.button {
  @include spacing("sm", ("padding-left", "padding-right"));
  @include spacing("xs", ("padding-top", "padding-bottom"));

  background-color: transparent;
  color: white;
  transition: background-color $trans--fast, transform $trans--fast;
  border: $border;
  color: $c-text;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  background-color: $c-white;

  &--md {
    @include spacing("sm", "padding");
  }

  &--lg {
    @include spacing("md", "padding");
  }

  &:after {
    content: "";
    display: block;
    height: 0;
    border-top: $border;
    background: transparent;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transition: transform 0.2s ease;
    transform: scaleX(0);
  }

  &:hover,
  &:focus {
    // transform: translateY(-3px);
    // box-shadow: 0 6px 0 -3px $c-text;
    // border-bottom-width: 3px;
    background: $c-text;
    color: white;
  }

  &:disabled {
    color: $c-text;
    border-color: $c-white;
    background: transparent;
    box-shadow: none;
    transform: translateY(0);
    &:after {
      transform: scaleX(1);
    }
    &:hover {
      background: transparent;
    }
  }
}
