.editor {
  h1 {
    display: none;
    &:after {
      content: 'Du skal ikke bruke denne typen overskrift (h1) i dette feltet';
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  details,
  blockquote {
    // @include content-width('text');
  }
  p {
    @include spacing('sm', 'margin-bottom');
  }
  a {
    text-decoration: underline;
  }
}
