.editor {

  ul {
    list-style: disc;
    padding-left: 1em;
    li {
      margin: 5px 0;
    }
  }

  p, ul {
    @include spacing('sm', ('margin-bottom','margin-top'));
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
