.embed {
  display: block;
  position: relative;
  min-height: 420px;
  iframe {
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%);
  }
}
