.Fact {
  max-width: rem-calc(1000);
  margin: 0 auto;

  &__columns {
    display: flex;
  }

  &__illu {
    display: inline-block;
    margin: 0 auto;
  }

  &__col {
    text-align: center;
    width: 50%;
    @include content-width(text);
  }
}
