.Fact {
  max-width: rem-calc(1000);
  margin: 0 auto;

  &__logo {
    width: rem-calc(200);
    margin-left: auto;
    margin-right: auto;
  }

  &__columns {
    display: flex;
  }

  &__col {
    width: 50%;
    @include content-width(text);

    &:nth-of-type(2) {
      @include spacing(lg, margin-top);
    }
  }
}
