.Footer {
  .Doodle__item {
    z-index: 3;
  }
  &__wrapper {
    position: relative;
    @include spacing('md', 'padding-bottom');
    background: black;
    color: white;
    z-index: 2;

    a {
      color: $c-main;
    }
  }

  &__doodles {
    display: flex;
    justify-content: space-around;
    @include spacing('lg', 'margin-top');
  }

  &__decor {
    @extend .container;
    @include spacing('section', ('padding-bottom', padding-top));

    @include bp(lg) {
      display: flex;
      margin-bottom: 0;
      // align-items: center;
    }

    &-logo {
      width: 100%;
      @include spacing('xs', 'margin-bottom');
      max-width: rem-calc(200);

      @include bp(md) {
        max-width: rem-calc(300);
      }
    }
    &-item {
      @include spacing('xs', 'margin-bottom');
      text-align: center;
    }
  }

  &__left,
  &__right {
    margin-bottom: spacing('section', sm);
    @include bp(md) {
      margin-bottom: 0;
    }
    @include bp(lg) {
      width: 50%;
    }
  }

  &__right {
    text-align: center;
  }

  &__left {
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // margin-bottom: spacing('lg', 'sm');

    // @include bp(md) {
    //   margin-bottom: spacing('lg', 'md');
    // }
    // @include bp(lg) {
    //   margin-bottom: 0;
    // }
  }

  // &__menu {
  //   @extend .container;

  //   .TreeMenu {
  //     @include spacing('lg', 'margin-bottom');
  //   }

  //   a {
  //     color: white;
  //     transition: transform $trans;

  //     &:hover {
  //       transform: translateY(-5px);
  //       text-decoration: underline;
  //     }
  //   }
  // }

  &__content {
    @extend .container;
    text-align: center;

    @include bp(md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__item {
    margin-bottom: spacing('xs', 'sm');

    @include bp(xl) {
      margin-bottom: 0;
    }
  }

  &__credits {
    font-family: $f-serif;
    text-align: center;
    margin-bottom: spacing('md', 'sm');

    @include bp(md) {
      margin-bottom: 0;
      text-align: left;
    }
  }
}
