.Footer {
  overflow: hidden;

  &__wrapper {
    position: relative;
    @include spacing(md, padding-bottom);
    background: black;
    color: white;
    z-index: 2;
    a {
      color: $c-interactive;
      text-decoration: underline;
      font-family: $f-sans;
    }
  }

  &__decor {
    @extend .container;
    @include spacing(lg, (padding-top));

    @include bp(lg) {
      display: flex;
      margin-bottom: 0;
      align-items: center;
      justify-content: center;
    }

    &-item {
      @include spacing(xs, margin-bottom);
      text-align: center;
    }
  }

  &__logo {
    @include spacing(sm, margin-bottom);
    max-width: rem-calc(200);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @include bp(md) {
      max-width: rem-calc(300);
    }
    svg {
      width: 100%;
      height: auto;
    }
  }

  &__left,
  &__right {
    text-align: center;
    margin-bottom: spacing(section, sm);
    @include bp(lg) {
      @include spacing(xs, margin-bottom);
      width: 50%;
    }
  }

  &__content {
    @extend .container;
    text-align: center;
    @include bp(md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__item {
    margin-bottom: spacing(xs, sm);
    @include bp(xl) {
      margin-bottom: 0;
    }
  }

  &__credits {
    font-family: $f-serif;
    text-align: center;
    margin-bottom: spacing(md, sm);
    @include bp(md) {
      margin-bottom: 0;
      text-align: left;
    }
  }
}
