.Form {
  &__label {
    display: block;
    &--checkbox {
      @include spacing(sm, (margin-bottom, margin-top));
      @include font-size(small);
    }
  }

  &__inputs {
    display: flex;
  }

  &__checkbox {
    @include spacing("xs", "margin-right");
    width: 1.5em;
    height: 1.5em;
    transition: box-shadow $trans--fast;
    vertical-align: text-bottom;
    box-shadow: inset 0 0 0 2px $c-text, inset 0 0 0 2px $c-white,
      inset 0 0 0 1px $c-text;

    &:checked {
      box-shadow: inset 0 0 0 2px $c-text, inset 0 0 0 0.4em $c-white,
        inset 0 0 0 1.5em $c-text;
    }
  }

  input[type="email"] {
    border-color: $c-white;
    color: $c-text;
    transition: $trans--fast;
    background: transparent;
  }

  &__submit {
    white-space: nowrap;
    min-width: 130px;
    margin-left: -2px;
    border-color: $c-white;
    background: transparent;
    &:hover,
    &:focus {
      background: $c-white;
      color: $c-text;
    }
    // &:hover,
    // &:focus {
    //   transform: translateY(-3px);
    //   box-shadow: 0 6px 0 -3px $c-text;
    // }
  }

  &__status {
    @include spacing(xs, (padding-top));
    @include font-size(small);
  }

  &--onDark {
    input[type="email"] {
      border-color: $c-white;
      color: $c-white;
      background: transparent;
    }

    .Form__submit {
      color: $c-white;
      &:hover,
      &:focus {
        color: $c-text;
      }
      &:disabled {
        color: $c-white;
      }
    }

    // .Form__submit {
    //   background: transparent;
    //   border-color: $c-white;
    //   color: $c-white;

    //   &:hover {
    //     background-color: $c-white;
    //     color: $c-text;
    //   }
    // }

    button {
      &:after {
        border-color: white;
      }
    }

    .Form__checkbox {
      box-shadow: inset 0 0 0 2px $c-white, inset 0 0 0 2px $c-text,
        inset 0 0 0 2px $c-white;

      &:checked {
        box-shadow: inset 0 0 0 2px $c-white, inset 0 0 0 0.4em $c-text,
          inset 0 0 0 1.5em $c-white;
      }
    }
  }
}
