.Form {
  &__label {
    display: block;
    &--checkbox {
      @include spacing(sm, (margin-bottom, margin-top));
    }
  }

  &__inputs {
    display: flex;
  }

  &__input {
    transition: $trans--fast;
    &:hover,
    &:focus {
      transform: translateY(-3px);
      box-shadow: 0 6px 0 -3px $c-text;
    }
  }

  &__checkbox {
    @include spacing("xs", "margin-right");
    width: 1.5em;
    height: 1.5em;
    transition: box-shadow $trans--fast;
    vertical-align: text-bottom;
    box-shadow: inset 0 0 0 2px $c-text, inset 0 0 0 2px $c-white,
      inset 0 0 0 1px $c-text;

    &:checked {
      box-shadow: inset 0 0 0 2px $c-text, inset 0 0 0 0.4em $c-white,
        inset 0 0 0 1.5em $c-text;
    }
  }

  &__submit {
    white-space: nowrap;
    min-width: 130px;
    margin-left: -2px;
    &:hover,
    &:focus {
      transform: translateY(-3px);
      box-shadow: 0 6px 0 -3px $c-text;
    }
  }

  &--onDark {
    .Form__input {
      background: none;
      border-color: $c-white;
      color: $c-white;
      background: transparent;
    }

    .Form__submit {
      background: transparent;
      border-color: $c-white;
      color: $c-white;

      &:hover {
        background-color: $c-white;
        color: $c-text;
      }
    }

    button {
      &:after {
        border-color: white;
      }
    }

    .Form__checkbox {
      box-shadow: inset 0 0 0 2px $c-white, inset 0 0 0 2px $c-text,
        inset 0 0 0 2px $c-white;

      &:checked {
        box-shadow: inset 0 0 0 2px $c-white, inset 0 0 0 0.4em $c-text,
          inset 0 0 0 1.5em $c-white;
      }
    }
  }
}
