.HeadlinerArtists {
  display: inline;

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: fade-in $trans--slow ease both;

    img {
      max-height: 500px;
      width: auto;
    }
  }

  &__group {
    display: inline-flex;

    &:hover {
      position: relative;
      z-index: 99;
    }
  }

  &__item {
    display: inline-flex;

    @each $bp, $size in $headlinerSizes {
      @include bp($bp) {
        margin-bottom: rem-calc($size * 0.65);
      }
    }
  }

  &__graphic {
    height: rem-calc(30);
    width: auto;
    max-width: 999999px;

    @each $bp, $size in $headlinerSizes {
      @include bp($bp) {
        height: rem-calc($size);
      }
    }
  }

  &__country {
    @extend .small;
    align-self: flex-end;
    // transform: translateY(0.15em);
  }

  &__divider {
    display: inline-block;
    @each $bp, $size in $headlinerSizes {
      @include bp($bp) {
        height: rem-calc($size);
        width: rem-calc($size);
      }
    }

    &--hide {
      opacity: 0;
    }
  }


  /*

  LAUNCH HEADER DSIGN

  */
  &--launch {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  &--launch &__link {
    display: inline-block;
    text-align: center;
  }

  &--launch &__divider {
    display: none !important;
  }
  
  &--launch &__item {
    position: relative;
    margin-bottom: 0.5em;
  }

  &--launch &__graphic {
    height: 42px;
    @include bp(md) {
      height: 72px;
    }
    @include bp(lg) {
      height: 100px;
    }
  }

  &--launch &__country {
    position: absolute;
    bottom: 0;
    left: 100%;
  }

}
