.Header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: $c-background;

  &--dark {
    color: $c-white;
    background: $c-black;

    .BuyTicket {
      display: none;
    }
  }

  &__top {
    width: 100%;
    @include spacing("xs", ("margin-top", "padding-bottom"));
    @include content-width("image");
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: spacing("sm", "sm");
    padding-right: spacing("sm", "sm");
    position: relative;

    @include bp(md) {
      padding-left: spacing("sm", "md");
      padding-right: spacing("sm", "md");
    }

    @include bp(lg) {
      padding-left: spacing("md", "lg");
      padding-right: spacing("md", "lg");
    }
    // @include bp(xl) {
    //   align-items: baseline;
    // }
  }

  &__lang,
  &__logo {
    @include bp(md) {
      width: auto;
    }
  }

  &__lang {
    text-align: right;
    display: none;

    @include bp(lg) {
      display: block;
    }
  }

  &__buy {
    flex-grow: 1;
    text-align: center;
    @include bp(lg) {
      position: absolute;
      z-index: 9;
      white-space: nowrap;
      top: 0;
      right: 100px;
    }

    // @include bp(xxl) {
    //   right: 120px;
    // }
  }
}
