.HeadlinerArtists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  @include bp(md) {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    img {
      max-height: 500px;
      width: auto;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    max-width: 100%;

    margin-bottom: 34px;
    // @each $bp, $size in $headlinerSizes {
    //   @include bp($bp) {
    //     margin-bottom: rem-calc($size * 0.65);
    //   }
    // }
  }

  &__link {
    display: block;
  }

  &__group {
    display: flex;
    justify-content: center;
    max-width: 100%;

    &:hover {
      position: relative;
      z-index: 99;
    }
  }

  &__graphic {
    height: rem-calc(30);
    width: auto;

    // Fix for long artist name on iphone 5
    @media (max-width: em-calc(321)) {
      height: rem-calc(22);
    }

    @include bp(lg) {
      max-width: calc(100vw - 50px);
    }

    @each $bp, $size in $headlinerSizes {
      @include bp($bp) {
        height: rem-calc($size);
      }
    }
  }

  &__country {
    @extend .small;
    align-self: flex-end;
    line-height: 1;
  }

  &__divider {
    display: none;

    @each $bp, $size in $headlinerSizes {
      @include bp($bp) {
        height: rem-calc($size);
        width: rem-calc($size);
      }
    }

    @include bp(md) {
      display: inline-block;
    }

    &--hide {
      opacity: 0;
    }
  }

  /*

  LAUNCH HEADER DSIGN

  */
  &--launch {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  &--launch &__link {
    display: inline-block;
    text-align: center;
  }

  &--launch &__divider {
    display: none !important;
  }

  &--launch &__item {
    position: relative;
    margin-bottom: 1rem;

    @include bp(md) {
      margin-bottom: 2rem;
    }

    @include bp(lg) {
      margin-bottom: 2.5rem;
    }
  }

  &--launch &__graphic {
    height: 112px;

    @include bp(md) {
      height: 142px;
    }

    @include bp(lg) {
      height: 200px;
    }
  }

  &--launch &__country {
    position: absolute;
    bottom: 0;
    left: 100%;
  }
}
