.Hero {
  @include spacing(lg,(margin-top, margin-bottom));

  &__payoff {
    @include spacing(sm, margin-top);
    text-align: center;
    font-family: $f-serif;
  }

  &__container {
    position: relative;
  }

  &__rocket {
    position: absolute;
    top: -5%;
    left: 5%;
  }

  &__hand {
    position: absolute;
    bottom: -5%;
    right: 5%;
  }

  &__illustration {
    display: none;
    position: relative;
    float: left;

    @each $bp, $size in $headlinerSizes {
      @include bp($bp) {
        height: rem-calc(($size + $size * 0.65) * 1.99);
      }
    }

    @include bp(lg) {
      display: block;
    }
  }
}
