// .Hero {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 60vh;
//   overflow: hidden;

//   canvas {
//     position: absolute;
//     top: 0;
//     left: 0;
//     // z-index: -1;
//   }

//   &__logo {
//     width: 100%;
//     min-width: 100%;
//     // max-height: 100%;
//     height: auto;
//     opacity: 0;
//     display: none;

//     // also ie styles for this in _ie.scss
//   }

//   &__logo1 {
//     max-width: rem-calc(700);
//     width: rem-calc(800);
//   }

//   &__tagline {
//     text-align: center;
//   }
// }

// .Hero {
//   &__wrapper {
//     height: auto;

//     @include bp(xxl) {
//       padding: spacing('lg', 'lg') 0;
//     }
//   }

//   &__artists {
//     @extend .container;
//   }

//   &__header {
//     pointer-events: none;
//     text-align: center;
//     width: 80%;
//     margin: 0 auto;
//     @include spacing('md', padding-top);
//     @include spacing('md', padding-bottom);

//     @include bp(lg) {
//       width: 50%;
//     }
//   }

//   &__logo {
//     @include spacing('md', 'margin-bottom');
//   }

//   &__tagline {
//     position: relative;
//     z-index: 3;
//   }

//   &__images {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }

//   &__image {
//     pointer-events: none;
//     position: absolute;
//     max-width: 25%;
//     transition: $trans--fast;
//     animation: showImage $trans both;

//     &:nth-child(odd) {
//       z-index: 0;
//     }
//     &:nth-child(even) {
//       z-index: -1;
//     }

//     @include bp(lg) {
//       max-width: 40%;
//     }

//     @for $i from 1 through 10 {
//       &:nth-child(#{$i}) {
//         animation-delay: $i * 500ms;
//       }
//     }

//     img {
//       transition: filter $trans;
//       filter: grayscale(0);
//       will-change: filter;
//       transform: translateZ(0);
//     }

//     @include bp(lg) {
//       max-width: 20%;
//     }

//     &--is-hovering {
//       &:nth-child(1n) {
//         z-index: 2;
//       }
//     }
//     &--is-not-hovering {
//       img {
//         // opacity: 0.8;
//         filter: grayscale(1);
//       }
//     }
//   }

//   .Doodle__item {
//     z-index: 3;
//   }

//   @keyframes showImage {
//     from {
//       opacity: 0;
//       clip-path: inset(0 100% 100% 0);
//     }
//     to {
//       opacity: 1;
//       clip-path: inset(0 0 0 0);
//     }
//   }
// }

.Hero7 {
  &__wrapper {
    position: relative;
    height: auto;

    @include bp(xxl) {
      padding-top: spacing('lg', 'lg');
    }
  }

  .Doodle__item {
    z-index: 3;
  }

  &__artists {
    @extend .container;
  }

  &__header {
    pointer-events: none;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    // @include spacing(sm, padding-bottom);

    @include bp(lg) {
      width: 50%;
    }
  }

  &__logo {
    @include spacing('md', 'margin-bottom');
  }

  &__tagline {
    position: relative;
    z-index: 3;
    @include font-size('body');

    @include bp(md) {
      @include font-size(h3);
    }
  }

  &__images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-content: center;
  }

  &__image {
    display: block;
    width: calc(100% / 2.5);
    position: relative;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-fill-mode: both;
    @include spacing(lg, (margin-left, margin-right));
    max-width: rem-calc(400);

    @include bp(md) {
      width: 25%;
    }

    @include bp(lg) {
      width: calc(100% / 5);
    }
  }

  @keyframes showImage--ver {
    0% {
      // opacity: 0;
      clip-path: inset(0 0 100% 0);
    }
    15% {
      // opacity: 1;
      clip-path: inset(0 0 0 0);
    }
    75% {
      // opacity: 1;
      clip-path: inset(0 0 0 0);
      transform-origin: top left;
    }
    100% {
      // opacity: 0;
      clip-path: inset(100% 0 0 0);
    }
  }
  @keyframes showImage--hor {
    0% {
      // opacity: 0;
      clip-path: inset(0 0 0 100%);
    }
    15% {
      // opacity: 1;
      clip-path: inset(0 0 0 0);
    }
    75% {
      // opacity: 1;
      clip-path: inset(0 0 0 0);
      transform-origin: top left;
    }
    100% {
      // opacity: 0;
      clip-path: inset(0 100% 0 0);
    }
  }
}
