.Logo {
  &--horizontal {
    display: inline-block;

    .Logo__svg {
      height: 100%;
      width: auto;
      max-height: rem-calc(30);
      @include bp(md) {
        max-height: rem-calc(40);
      }
    }
  }

  &__svg {
    transition: $trans--fast;
  }
}
