.NewsCards {
  display: flex;
  flex-flow: row wrap;

  &--frontpage {
    .NewsCards__item {
      &:nth-of-type(5),
      &:nth-of-type(6) {
        display: none;
      }
      @include bp(lg) {
        &:first-of-type,
        &:nth-of-type(2) {
          width: 50%;
        }
        &:nth-of-type(5) {
          display: block;
        }
        &:last-of-type {
          display: none;
        }
      }
      @include bp(xxl) {
        &:last-of-type {
          display: block;
        }
      }
    }
  }

  &--footer {
    .NewsCards__item {
      @include bp(lg) {
        &:last-of-type {
          display: none;
        }
      }
      @include bp(xxl) {
        &:last-of-type {
          display: block;
        }
      }
    }
  }

  &__placeholder {
    background: black;
  }

  &__item {
    width: 100%;
    @include spacing('lg', 'margin-bottom');
    margin-bottom: spacing('section', 'sm');
    @include spacing('xs', ('padding-left', 'padding-right'));
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    transform: translateZ(0);

    @include bp(md) {
      width: 50%;
    }

    @include bp(lg) {
      width: 100/3 * 1%;
    }

    @include bp(xxl) {
      width: 25%;
    }

    &:hover {
      .NewsCards__image {
        transform: translateY(-5px);

        .Overlay:after {
          opacity: 0.6;
        }
      }
    }
  }

  &__image {
    transition: $trans;
    @include spacing('xs', 'margin-bottom');

    .Overlay {
      &:after,
      div[role='img'],
      img {
        transition: $trans;
      }
    }
  }

  &__content {
    @include spacing('xs', ('margin-bottom', 'margin-top'));
  }

  &__date {
    transition: $trans;
    display: inline-block;
    @include spacing('xs', 'margin-bottom');
  }

  &__title {
    @include spacing('xs', 'margin-bottom');
  }
}
