.NewsCards {
  &--latest {
    .Grid__item {
      @include bp(lg) {
        &:last-of-type {
          display: none;
        }
      }
      @include bp(xxl) {
        &:last-of-type {
          display: block;
        }
      }
    }
  }

  &__placeholder {
    background: black;
  }

  &__item {
    display: block;
    margin-bottom: spacing(lg, sm);
    padding-left: 0;
    padding-right: 0;
    text-align: center;

    .Overlay {
      transition: $trans;
    }

    &:hover {
      .NewsCards__image .Overlay {
        transform: translateY(-5px);
      }
    }
  }

  &__image {
    position: relative;
    transition: $trans;
    @include spacing(xs, margin-bottom);
    border: $s-border__width--large solid $c-white;
    background: #fff;
  }

  &__content {
    @include spacing(xs, (margin-bottom, margin-top));
  }

  &__date {
    transition: $trans;
    display: inline-block;
    @include spacing(xs, margin-bottom);
  }

  &__title {
    @include spacing(xs, margin-bottom);
  }

  &__illustration {
    position: absolute;
    width: rem-calc(200);
    height: rem-calc(200);
    z-index: 9999;
    bottom: 0;
    @include illu-size(left, -0.5);
    transform: translateZ(0);
    &--right {
      left: auto !important;
      // right: 0;
      @include illu-size(right, -0.5);
    }
  }
}
