.NewsCards {
  &__unit {
    order: 10;

    &--banner {
      position: relative;
      .BannerInner {
        width: 100vw;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--socialbox {
      margin-top: 20px;
    }

    // Two first news
    &:first-child,
    &:nth-child(2) {
      order: 1;
    }

    // Add banner snail on top on mobile
    &--banner {
      order: -1;
      height: 10px;
    }

    @include bp(md) {
      &--socialbox {
        margin-top: 20px;
        margin-bottom: 20px;
        order: 2;
      }
      &--banner {
        order: 3;
        height: 10px;
      }
    }

    @include bp(lg) {
      // Prevent illu from overlapping socialbox
      &:nth-child(2) {
        .Illustration {
          display: none;
        }
      }
      &--socialbox {
        order: 2;
        margin-top: 0;
      }
      &--banner {
        order: 3;
        height: 30px;
      }
      &:nth-child(6) {
        display: none;
      }
    }
  }

  &--latest {
    .Grid__item {
      @include bp(lg) {
        &:last-of-type {
          display: none;
        }
      }
      @include bp(xxl) {
        &:last-of-type {
          display: block;
        }
      }
    }
  }

  &__illustration {
    position: absolute;
    width: rem-calc(200);
    height: rem-calc(200);
    z-index: 9999;
    bottom: 0;
    @include illu-size(left, -0.5);
    transform: translateZ(0);
    &--right {
      left: auto !important;
      @include illu-size(right, -0.5);
    }
  }
}
