.TreeMenu {
  // display: flex;
  text-align: center;

  @include bp(md) {
    text-align: left;
    columns: auto 2;
  }

  @include bp(lg) {
    columns: auto 4;
  }

  &__item {
    position: relative;

    &--child {
      // font-family: $f-serif;
    }
  }
  &__children {
    // position: absolute;
    // left: 0;
    // top: 100%;
    // color: white;
    // background: black;
    // z-index: 10;
    // display: none;
  }
  &__item:hover &__children {
    display: block;
  }
  &__link {
    display: block;
    @include spacing('xs', 'margin-bottom');
    // padding: 0.5rem;
    // &:hover {
    //   color: $black;
    //   background: pink;
    // }
  }
}
