$aspects: (
  'landscape': 16 9,
  'portrait': 8 12,
  'square': 1 1,
  'widescreen': 16 8
);

.aspect {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__fallback {
    position: absolute;
    top: 0;
    left: 0;
  }

  &:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 0;
  }

  @each $bp, $value in $breakpoints {
    @include bp($bp) {
      @each $aspect, $ratio in $aspects {
        &-#{$bp}--#{$aspect} {
          &:before {
            padding-top: percentage(nth($ratio, 2) / nth($ratio, 1));
          }
        }
      }
    }
  }
}
