@font-face {
  /* Roman reg */
  font-family: "Swiss";
  src: url("../../static/assets/fonts/swiss-regular.woff2") format("woff2"),
    url("../../static/assets/fonts/swiss-regular.woff") format("woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  font-display: swap;
}

/* @font-face {
  Roman Italic reg
  font-family: 'Swiss';
  src: url('../../static/assets/fonts/bba2ccf7-f24b-4179-a219-d858a659212c.eot?#iefix');
  src: url('../../static/assets/fonts/bba2ccf7-f24b-4179-a219-d858a659212c.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/assets/fonts/9f09444c-2176-4a2f-adeb-ae4416f4722f.woff2')
      format('woff2'),
    url('../../static/assets/fonts/e96d0d02-2397-43ee-ba2a-513c21c25216.woff')
      format('woff'),
    url('../../static/assets/fonts/dda5a8ff-1d45-46be-8fb8-32750e39fbe2.ttf')
      format('truetype'),
    url('../../static/assets/fonts/ca78163f-aee5-4953-ba52-8e43676771ce.svg#ca78163f-aee5-4953-ba52-8e43676771ce')
      format('svg');
  font-style: italic;
  font-stretch: normal;
  font-weight: 400;
} */

@font-face {
  font-family: "Swiss";
  src: url("../../static/assets/fonts/swiss-expanded.woff2") format("woff2"),
    url("../../static/assets/fonts/swiss-expanded.woff") format("woff");
  font-style: normal;
  font-stretch: expanded;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Swiss";
  src: url("../../static/assets/fonts/swiss-italic.woff2") format("woff2"),
    url("../../static/assets/fonts/swiss-italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Swiss";
  src: url("../../static/assets/fonts/swiss-expanded.woff2") format("woff2"),
    url("../../static/assets/fonts/swiss-expanded.woff") format("woff");
  font-style: normal;
  font-stretch: expanded;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Swiss";
  src: url("../../static/assets/fonts/swiss-expanded-bold.woff2")
      format("woff2"),
    url("../../static/assets/fonts/swiss-expanded-bold.woff") format("woff");
  font-style: normal;
  font-stretch: expanded;
  font-weight: 700;
  font-display: swap;
}

/*
Traulha
*/

// @font-face {
//   font-family: "Traulha";
//   src: url("../../static/assets/fonts/traulha/Traulha_WEB-Jornau.eot");
//   src: url("../../static/assets/fonts/traulha/Traulha_WEB-Jornau.eot?#iefix")
//       format("embedded-opentype"),
//     url("../../static/assets/fonts/traulha/Traulha_WEB-Jornau.woff")
//       format("woff"),
//     url("../../static/assets/fonts/traulha/Traulha_WEB-Jornau.woff2")
//       format("woff2");
//   font-weight: 400;
//   font-display: swap;
// }

/*
Century
*/

@import url("https://use.typekit.net/waa7hci.css");

// @font-face {
//   font-family: "Century";
//   src: url("../../static/assets/fonts/century/CenturyOldStyleStd-Regular.otf")
//     format("opentype");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

/*
Neue Pixel
*/

@font-face {
  font-family: "Neue Pixel";
  src: url("../../static/assets/fonts/neuepixel/neuepixelgrotesk.woff2")
      format("woff2"),
    url("../../static/assets/fonts/neuepixel/neuepixelgrotesk.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
