@font-face {
    font-family: 'Traulha WEB_Jornau';
    src:    url('Traulha_WEB-Jornau.eot');
    src:    url('Traulha_WEB-Jornau.eot?#iefix') format('embedded-opentype'),
            url('Traulha_WEB-Jornau.woff') format('woff'),
            url('Traulha_WEB-Jornau.woff2') format('woff2');
}