@font-face {
  /* Roman reg */
  font-family: 'Swiss';
  src: url('./debae208-0c7b-4232-ba62-313e2d9d14c7.eot?#iefix');
  src: url('./debae208-0c7b-4232-ba62-313e2d9d14c7.eot?#iefix')
      format('embedded-opentype'),
    url('./c01ba868-3eaf-4bf4-b173-216c1156d174.woff2') format('woff2'),
    url('./19c307d6-6fd8-47d3-a56d-fa998322491a.woff') format('woff'),
    url('./61571c7a-d78e-4d50-822d-194e2b92a1f1.ttf') format('truetype'),
    url('./eafecdd5-35c6-4dc5-bc71-9b81010c7fa4.svg#eafecdd5-35c6-4dc5-bc71-9b81010c7fa4')
      format('svg');
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}

/* @font-face {
  Roman Italic reg
  font-family: 'Swiss';
  src: url('./bba2ccf7-f24b-4179-a219-d858a659212c.eot?#iefix');
  src: url('./bba2ccf7-f24b-4179-a219-d858a659212c.eot?#iefix')
      format('embedded-opentype'),
    url('./9f09444c-2176-4a2f-adeb-ae4416f4722f.woff2')
      format('woff2'),
    url('./e96d0d02-2397-43ee-ba2a-513c21c25216.woff')
      format('woff'),
    url('./dda5a8ff-1d45-46be-8fb8-32750e39fbe2.ttf')
      format('truetype'),
    url('./ca78163f-aee5-4953-ba52-8e43676771ce.svg#ca78163f-aee5-4953-ba52-8e43676771ce')
      format('svg');
  font-style: italic;
  font-stretch: normal;
  font-weight: 400;
} */

@font-face {
  /* Expanded reg */
  font-family: 'Swiss';
  src: url('./7c78f7cd-458a-4c95-9405-02e8c70a53d0.eot?#iefix');
  src: url('./7c78f7cd-458a-4c95-9405-02e8c70a53d0.eot?#iefix')
      format('embedded-opentype'),
    url('./8b60e990-0094-48cf-93c5-f258ed3ce87a.woff2') format('woff2'),
    url('./c97d6d8b-c9b8-4792-9c5d-2cd017dc9d06.woff') format('woff'),
    url('./f8faf30e-6940-4ad6-bd94-7ebef532aae5.ttf') format('truetype'),
    url('./235b21c3-0f4b-4c05-8298-c66d23376f10.svg#235b21c3-0f4b-4c05-8298-c66d23376f10')
      format('svg');
  font-style: normal;
  font-stretch: expanded;
  font-weight: 400;
}
@font-face {
  /* Expanded bold */
  font-family: 'Swiss';
  src: url('./c3e600db-4b91-49b3-be13-7527a8b96102.eot?#iefix');
  src: url('./c3e600db-4b91-49b3-be13-7527a8b96102.eot?#iefix')
      format('embedded-opentype'),
    url('./ac12f38b-c2b6-40b8-9aff-01b0c4ac57ab.woff2') format('woff2'),
    url('./f4026334-ad61-402b-b3b6-5e475e8aa4a1.woff') format('woff'),
    url('./b157919f-ff0a-4a7b-9121-4897c0def087.ttf') format('truetype'),
    url('./18b4960b-6035-4ac8-9567-3a61879bba3e.svg#18b4960b-6035-4ac8-9567-3a61879bba3e')
      format('svg');
  font-style: normal;
  font-stretch: expanded;
  font-weight: 700;
}

/*
Traulha
*/

@font-face {
  font-family: 'Traulha';
  src: url('./traulha/Traulha_WEB-Jornau.eot');
  src: url('./traulha/Traulha_WEB-Jornau.eot?#iefix')
      format('embedded-opentype'),
    url('./traulha/Traulha_WEB-Jornau.woff') format('woff'),
    url('./traulha/Traulha_WEB-Jornau.woff2') format('woff2');
  font-weight: 400;
}
